[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-split-settings = "*"
django-countries = "*"
phonenumberslite = "*"
django-phonenumber-field = "*"
django-extensions = "*"
faker = "*"

[requires]
python_version = "3.7"
