[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
django-nose = "*"
coverage = "*"
faker = "*"
django-extensions = "*"

[packages]
django = "*"
django-split-settings = "*"
django-countries = "*"
phonenumberslite = "*"
django-phonenumber-field = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
